
<form action="<%= session_url %>" method="POST">

    <label>Username:<br>
        <input name="user[username]" value="">
    </label>

    <label>Password:<br>
        <input type="password" name="user[password]" value="">
    </label>

    <button type="submit">Sing In</button>

</form>